body {

margin: 0;
overflow: hidden;
background: black;
font-family: Arial;

}

#menu {

position: absolute;
top: 20px;
width: 100%;
text-align: center;
z-index: 1;

}

button {

padding: 10px 18px;
margin: 5px;

background: #111;
color: white;

border: none;
border-radius: 6px;

cursor: pointer;

font-size: 16px;

}

button:hover {

background: #00ff88;
color: black;

}

.element {

width: 90px;
height: 120px;

border-radius: 10px;

text-align: center;

background: rgba(0,255,128,0.12);

color: white;

box-shadow: 0 0 15px rgba(0,255,128,0.7);

padding-top: 8px;

}

.symbol {

font-size: 28px;
font-weight: bold;

}

.name {

font-size: 12px;

}

.number {

font-size: 12px;
opacity: 0.6;

}
